.story {
    margin: 0 20rem;
    background-color: rgb($white, 0.6);
    padding: 6rem 10rem;
    transform: skewX(-12deg);
    &:not(:last-child) {
        margin-bottom: 8rem;
    }
    box-shadow: 0 1rem 3rem rgba($black, 0.1);

    @include respond(tab-mid) {
        margin: 0 10rem;
        border-radius: 5px;
    }
    @include respond(phone) {
        transform: skewX(0);
        padding: 3rem 3rem;
        margin: 0 1rem;
    }
    &__shape {
        width: 16rem;
        height: 16rem;
        float: left;
        @include respond(phone) {
            max-width: 16rem;
            max-height: 16rem;
        }
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translate(-3rem) skewX(12deg);
        position: relative;
        box-shadow: 0 0 1rem rgba($black, 0.5);
        @include respond(phone) {
            float: none;
            position: static;
            margin: 0 auto 3rem auto;

            transform: translate(0) skewX(0);
        }
    }
    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform: scale(1.4);
        transition: all 0.5s;
    }
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        transform: translate(-50%, 100%);
        font-size: 1.6rem;
        opacity: 0;
        transition: all 0.5s;
    }
    &__text {
        transform: skewX(12deg);
        @include respond(phone) {
            transform: skewX(0);
        }

        &--description {
            font-size: 1.8rem;
            line-height: 1.7;
        }
    }
    &:hover &__img {
        transform: scale(1);
        filter: blur(3px) brightness(80%);
    }
    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
