.primary-heading {
    text-transform: uppercase;
    color: $white;
    margin-bottom: 6rem;
    backface-visibility: hidden;

    &-main {
        text-align: center;
        display: block;
        font-size: 7.5rem;
        letter-spacing: 3.5rem;
        margin-bottom: 2rem;

        animation-name: MoveToRight;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-delay: 0.3s;

        @include respond(tab-port) {
            letter-spacing: 1rem;
        }
        @include respond(phone) {
            letter-spacing: 0.2rem;
            font-size: 6rem;
        }
    }
    &-sub {
        text-align: center;
        display: block;
        font-size: 3rem;
        letter-spacing: 1.5rem;
        font-weight: 400;
        @include respond(tab-port) {
            letter-spacing: 0.2rem;
        }
        @include respond(phone) {
            letter-spacing: 0.2rem;
            font-size: 2.5rem;
        }

        animation: MoveToLeft 1.5s ease-in-out;
        animation-delay: 0.3s;
    }
}

.heading-secondary {
    font-size: 4rem;
    background-image: linear-gradient(to right, $clr-green-300, $clr-green-500);
    -webkit-background-clip: text;
    display: inline-block;
    color: transparent;
    transition: all 0.3s;
    text-transform: uppercase;

    &:hover {
        transform: skewX(5deg) skewY(1deg);
        text-shadow: 0rem 0.5rem 1rem rgba($black, 0.2);
    }
}

.heading-tertiary {
    text-transform: uppercase;
    color: $light-gray;
}
.paragraph {
    line-height: 1.6;

    &:not(:last-child) {
        margin-bottom: 4rem;
    }
}
