$clr-green-300:#7ed56f;
$clr-green-400:#55c57a;
$clr-green-500:#28b485;

$clr-secondary-300:#ffb900;
$clr-secondary-400:#ff7730;

$clr-tertiary-300:#2998ff;
$clr-tertiary-400:#5643fa;


$clr-dark:#333;
$clr-light:#eee;

$black:#000;
$white:#fff;

$light-gray:#555;
$main-gray:#333;

